######################
# for https://github.com/remote-android/redroid-doc/issues/354
######################
# /vendor/etc/init/redroid.common.rc
# potential leak fuse connections

on late-init
    umount /sys/fs/fuse/connections

######################
# for mali
######################
on early-init
    # ueventd fix
    chmod 0777 /dev/rga
    chmod 0777 /dev/dri
    chmod 0777 /dev/dri/card0
    chmod 0777 /dev/dri/card1
    chmod 0777 /dev/dri/renderD128
    chmod 0777 /dev/dri/renderD129
    chmod 0777 /dev/mpp_service
    chmod 0666 /dev/mali0

    chmod 0444 /dev/dma_heap/cma
    chown system system /dev/dma_heap/cma
    chmod 0444 /dev/dma_heap/cma-uncached
    chown system system /dev/dma_heap/cma-uncached
    chmod 0444 /dev/dma_heap/system
    chown system system /dev/dma_heap/system
    chmod 0444 /dev/dma_heap/system-dma32
    chown system system /dev/dma_heap/system-dma32
    chmod 0444 /dev/dma_heap/system-uncached
    chown system system /dev/dma_heap/system-uncached
    chmod 0444 /dev/dma_heap/system-uncached-dma32
    chown system system /dev/dma_heap/system-uncached-dma32


######################
# for battery
######################
on post-fs-data
    mkdir /data/vendor/battery 0751 root root
    exec -- /system/bin/sh /vendor/bin/hw/init.redroid.battery.sh


######################
# for gps
######################
on post-fs-data
    mkdir /data/vendor/gps 0751 root root
    exec -- /system/bin/sh /vendor/bin/hw/init.redroid.gps.sh

service gnss /vendor/bin/hw/android.hardware.gnss-service
    class hal
    user nobody
    group nobody


######################
# for wifi
######################
on post-fs-data
    setprop vold.post_fs_data_done 1
    mkdir /data/vendor/var 0755 root root
    mkdir /data/vendor/var/run 0755 root root
    mkdir /data/vendor/var/run/netns 0755 root root
    write /data/vendor/var/run/netns/main.pid 1

    setprop wifi.interface wlan0
    setprop wifi.direct.interface p2p-dev-wlan0

    setprop net.eth0.dns3 8.8.8.8
    setprop net.eth0.dns4 8.8.4.4

on zygote-start
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi

on post-fs-data && property:ro.boot.redroid_virtual_wifi=1
    rm /data/vendor/var/run/netns/router.pid
    start create_router_ns
    wait /data/vendor/var/run/netns/router.pid
    start redroid_wifi

service redroid_wifi /vendor/bin/hw/init.redroid.wifi.sh
    class late_start
    user root
    group root wakelock wifi
    oneshot
    disabled    # Started on post-fs-data

service ipv6proxy /vendor/bin/execns2 router /vendor/bin/ipv6proxy2 -o eth0 -i br0,radio0-peer
    user root
    group root
    disabled

service emu_hostapd /vendor/bin/execns2 router /vendor/bin/hostapd_nohidl /data/vendor/wifi/hostapd/redroid_hostapd.conf
    user root
    group root wifi net_raw net_admin
    disabled

service dhcpserver /vendor/bin/execns2 router /vendor/bin/dhcpserver2 --exclude-interface eth0
    user root
    group root
    disabled

service create_router_ns /vendor/bin/createns2 router
    user root
    group root
    disabled
    oneshot

service wpa_supplicant /vendor/bin/hw/wpa_supplicant -Dnl80211 -iwlan0 -c/vendor/etc/wifi/wpa_supplicant.conf -g@android:wpa_wlan0
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    interface android.hardware.wifi.supplicant@1.2::ISupplicant default
    interface android.hardware.wifi.supplicant@1.3::ISupplicant default
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    oneshot
    disabled

service adbd_proxy /vendor/bin/execns2 router nc -L -p 5555 /vendor/bin/execns2 main nc 127.0.0.1 5555
    user root
    group root
    disabled
    oneshot